{% extends 'books/base.html' %}

{% block title %}{{ book.title }} - 书籍详情{% endblock %}

{% block content %}
<article class="detail">
    <h1>{{ book.title }}</h1>
    <dl>
        <dt>ISBN</dt>
        <dd>{{ book.isbn }}</dd>

        <dt>出版时间</dt>
        <dd>{{ book.publish_date|date:"Y-m-d" }}</dd>

        <dt>出版社</dt>
        <dd>{{ book.publisher }}</dd>

        <dt>简介</dt>
        <dd>{{ book.introduction|linebreaksbr }}</dd>

        <dt>目录</dt>
        <dd>{{ book.catalog|linebreaksbr }}</dd>
    </dl>
    <a class="back-link" href="{% url 'index' %}">← 返回搜索</a>
</article>
{% endblock %}
